.TreeToSelects-result {
    background-color: #F9F9F9  ;
    padding: 5px;
    margin-bottom: 10px;
}

.TreeToSelects-result p {
    margin: 0;
}

.TreeToSelects-fullCode {
    text-align: center;
}

.TreeToSelects-error {
    color: #E64242;
    text-align: center;
}
